.previous-link {
  margin-right: 25px;
}

.buttons .primary-btn {
  margin-right: 25px;
}

.buttons .btn[disabled] {
  margin-right: 25px;
}

.buttons .btn-with-plus {
  margin-right: 25px;
}

.buttons .inline-btn {
  margin-top: 50px;
  margin-right: 50px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.elements {
  margin-bottom: 90px;
}

.elements__misc {
  margin-right: 35px;
}


.buttons {
  margin-bottom: 90px;
  margin-top: 50px;
}


.inputs {
  padding-top: 50px;
}

.item {
  margin-top: 50px;
}

.card-info {
  margin-top: 50px;
}

.card-todo {
  margin-top: 50px;
}

.comment {
  margin-top: 50px;
}

.comment__field {
  margin-bottom: 25px;
}

.tasks {
  margin-top: 50px;
}

.choicez {
  min-height: 600px;
}

.expandable-menu {
  margin-left: auto;
}

.notification-menu {
  margin: 0 auto;
}